.Loader-cont {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 85vw;
  align-self: center;
}

@media (max-width: 786px) {
  .Loader-cont {
    min-width: 95vw;
    /* max-width: 100%; */
    /* min-height: 40vh; */
  }
}
