.dash-top {
  /* border: 1px solid; */
  min-width: 100%;
  min-height: 50vh;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dash {
  border: 1px solid rgba(128, 128, 128, 0.329);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  background-color: var(--back3);
  border-radius: 10px;
}
.dash-1 {
  /* border: 1px solid; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 24.5vh;
}
.dash-1-left {
  /* border: 1px solid; */
  min-width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/back2.png);
  background-size: cover;
}
.dash-1-left h2 {
  font-family: var(--bric);
  font-size: 30px;
  font-weight: 400;
}
.dash-1-right {
  /* border: 1px solid; */
  min-width: 74%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dash-1-right h2 {
  /* border: 1px solid;  */
  margin-bottom: 5px;
  width: 100%;
  font-family: var(--pop);
  font-weight: 400;
  text-align: end;
  padding-right: 15px;
}

.dash-1-right p {
  /* border: 1px solid;  */
  font-family: var(--mont);
  width: 100%;
  font-weight: 400;
  text-align: end;
  padding-right: 15px;
  color: orangered;
}

.dash-2 {
  /* border: 1px solid; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 24.5vh;
}
.dash-2-left {
  min-width: 74%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/party.png);
  background-size: contain;

}
.dash-2-left h2 {
  font-family: var(--mont);
  font-size: 30px;
}

.dash-2-right {
  min-width: 25%;
}
.dash-2-right {
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dash-2-right i {
  transition: 0.3s ease-in-out;
}
.dash-2-right i:hover {
  color: green;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

@media (max-width: 786px) {
  .Dash {
    /* border: 1px solid; */
    min-width: 95vw !important;
  }

  .dash-top {
    /* border: 1px solid; */
    min-height: 41vh !important;
    /* min-height: 20vh; */
    /* min-height: 38vh ; */
  }
  .dash-1 {
    gap: 5px;
    max-height: 20vh;
  }
  .dash-1-left {
    min-width: 35%;
    max-width: 35%;
  }
  .dash-1-right {
    min-width: 60%;
  }

  .dash-2 {
    max-height: 20vh;
  }

  .dash-2-right {
    min-width: 35%;
    max-width: 35%;
  }
  .dash-2-left {
    min-width: 63%;
    max-width: 63%;
  }
  .dash-2-left h2 {
    font-family: var(--mont);
    font-size: 25px;
   text-align: center;
  }
}
