.task-create-cont {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.task-create-cont h2 {
  text-align: center;
  padding: 10px;
  font-family: var(--mont);
  font-weight: 400;
  font-size: 25px;
}



.create-form {
  min-width: 70%;
  max-width: 80%;
  min-height: 70%;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #A8DF8E;
  padding: 20px 0px;
  border-radius: 30px;
  box-shadow: #A8DF8E 0px 22px 70px 4px;
  margin-bottom: 20px;
  margin-top: 10px;
}
form input,
textarea,
select {
  width: 90%;
  padding: 15px;
  background-color: var(--back1);
  border: none;
  border-radius: 30px;
}

/* Mobile View */
@media(max-width:786px){
    .task-create-cont{
        /* border: 1px solid; */
        margin-top: 50px;
        min-width: 90vw !important;
    }
    .create-form{
        /* border: 1px solid; */
        min-width: 100%;
    }
    .date-sel i{
        /* border: 1px solid; */
        margin-left: 10px;
        margin-right: 10px;
    }
}